.confirmpay{
    padding: 0;
    margin: 0%;
}
.reservationwrap{
    width: 90vw;
    overflow-x: hidden;
    margin-left: 2rem;
}
.bannerhead{
    margin-top: 2rem;
}
.bannerhead1{
    display: none;
}
.resvertionheading{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  
}
.leftpage{
    width: 55vw; 
    padding: 2rem;
    margin-bottom: 2rem;
}
.leftpagehead{
    margin-bottom: 1.5rem;
}
.paydate{
    display: flex;
    flex-direction: row;
    gap: 24rem;
    padding: 8px;
}
.editpage{
    margin-left: 3rem;
    text-decoration: underline;
}
.editpage1{
    margin-left: 2.5rem;
    text-decoration: underline;
}
.editpage2{
    margin-left: -2rem;
}
.rightpage{
    width: 50vw;
    padding: 2rem;
    height: 50vh;
    border: 1px solid black;
    border-radius: 1rem;
}
.resloginicons{
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}
.resbtns{
    width: 15vw;
    gap: 2rem;
    margin-left: -0.5rem;
    padding: 2px;
}
.resbtn{
    width: 50vw;
    padding: 3px;
}
.iconres{
    font-size:1.5rem;
}
.resloginicon{
    width: 30vw;
}

.reservationhouse{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 10px;
    border-bottom: 1px solid black;
}
.beanresi{
    margin-top: 1rem;  
}
.pricedetail{
    border-bottom: 1px solid rgb(171, 170, 170);
    padding: 1rem;
}
.pricetotal{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
}
.pricespandetails{
    display: flex;
    justify-content: space-between;

}
.guestsSection{
    border: 1px solid black;
    background-color: antiquewhite;
    margin-left: -10rem;
    display: flex;
    flex-direction: column;
    width: 35vw;
    justify-content: space-around;
    align-items: center;
}
.totalguests{
    margin-left: -18.8rem;
    margin-top: 1rem;
}
.selectdate{
    margin-left: -21.2rem;
}
.selecteddate{
    margin-left: -24.5rem;
    margin-top: 1.4rem;
}

@media (min-width: 769px) and (max-width: 1024px){
    .reservationwrap{
        overflow: hidden;
        display: flex;
        width: 85vw;
        margin-left: 4rem;
    }
    .resvertionheading{
        display: flex;
        flex-direction:column-reverse;
        gap: 1rem;
    }
    .leftpage{
        width: 82vw;
        padding: 1rem;
      margin-top: 5rem;
    
    }
    .paydate{
        display: flex;
        flex-direction: row;
        gap: 15rem;
        padding: 5px;
    }
    .resbtns{
        width: 22vw;
        gap: 2rem;
        margin-left: -0.5rem;
        padding: 2px;
    }
    .resbtn{
        width: 75vw;
        padding: 3px;
    }
    .rightpage{
        width: 70vw;
        padding: 2rem;
        height: 40vh;
        margin-left: 2rem;
        border: none;
        
    }
    .pricedetail,.pricetotal{
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
        width: 90vw;
        margin-top: 1.5rem;
        margin-left: -4rem;
        padding: 1rem;
    }
    .pricespandetails{
        display: flex;
        justify-content: space-around;
        gap: 10rem;
        margin-left: -3rem;
    
    }
    .pricetotal{
        display: flex;
        gap: 17rem;
        margin-left: -5rem;
        justify-content: space-around;
    }
    .bannerhead1{
        display: flex;
     justify-content: center;
        border-bottom: 1px solid rgb(171, 170, 170);
        margin-bottom: 1rem;
        align-items: center;
    gap: 10rem;
    margin-left: -10rem;
    
    }
    .bannerhead{
        display: none;
    }
    .reservationhouse{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        width: 90vw;
        margin-top: -2rem;
    margin-left: -4rem;
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
    }
    .editpage{
        margin-left: 20rem;
        text-decoration: underline;
    }
    .editpage1{
        margin-left: 19.5rem;
        text-decoration: underline;
    }
    .editpage2{
        margin-left: -60rem;
    }
    .selectdates{
        margin-left: -38.2rem;
    }
    .guestsSection{
        border: 1px solid black;
        background-color: antiquewhite;
        margin-left: -20rem;
        display: flex;
        flex-direction: column;
        width: 20vw;
        justify-content: space-around;
        align-items: center;
    }
}
@media (max-width: 768px){
    .reservationwrap{
        overflow: hidden;
        display: flex;
        width: 85vw;

    }
    .resvertionheading{
        display: flex;
        flex-direction:column-reverse;
        gap: 1rem;
    }
    .leftpage{
        width: 82vw;
        padding: 1rem;
      margin-top: 5rem;
    
    }
    .paydate{
        display: flex;
        flex-direction: row;
        gap: 15rem;
        padding: 5px;
    }
    .resbtns{
        width: 22vw;
        gap: 2rem;
        margin-left: -0.5rem;
        padding: 2px;
    }
    .resbtn{
        width: 75vw;
        padding: 3px;
    }
    .rightpage{
        width: 70vw;
        padding: 2rem;
        height: 40vh;
        margin-left: 2rem;
        border: none;
        
    }
    .pricedetail,.pricetotal{
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
        width: 90vw;
        margin-top: 1.5rem;
        margin-left: -4rem;
        padding: 1rem;
    }
    .pricespandetails{
        display: flex;
        justify-content: space-around;
        gap: 10rem;
        margin-left: -3rem;
    
    }
    .pricetotal{
        display: flex;
        gap: 17rem;
        margin-left: -5rem;
        justify-content: space-around;
    }
    .bannerhead1{
        display: flex;
     justify-content: center;
        border-bottom: 1px solid rgb(171, 170, 170);
        margin-bottom: 1rem;
        align-items: center;
    gap: 10rem;
    margin-left: -10rem;
    
    }
    .bannerhead{
        display: none;
    }
    .reservationhouse{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        width: 90vw;
        margin-top: -2rem;
    margin-left: -4rem;
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
    }
    .selecteddate{
        margin-left: -21rem;
        margin-top: 1.4rem;
    }
   .guestsSection{
        border: 1px solid black;
        background-color: antiquewhite;
        margin-left: -24rem;
        display: flex;
        flex-direction: column;
        width: 20vw;
        justify-content: space-around;
        align-items: center;
    }
    
}
@media (max-width: 480px) {
    .reservationwrap {
        overflow: hidden;
        display: flex;
        width: 84vw;
        
    }
    .resvertionheading{
        display: flex;
        flex-direction:column-reverse;
        gap: 3rem;
    }
    .leftpage{
        width: 85vw;
        padding: 1rem;
      margin-top: 5rem;
    
    }
    .paydate{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 5px;
    }
    .resbtns{
        width: 20vw;
        gap: 1rem;
        margin-left: -0.7rem;
       
    }
    .resbtn{
        width: 75vw;
     padding: 3px;
    }
    .rightpage{
        width: 60vw;
        height: 40vh;
        border: none;
        
    }
    .pricedetail,.pricetotal{
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
        width: 90vw;
        margin-top: 1.5rem;
        margin-left: -4rem;
        padding: 1rem;
    }
    .pricespandetails{
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        margin-left: -2rem;
    
    }
    .pricetotal{
        display: flex;
        gap: 7rem;
        margin-left: -5rem;
        justify-content: space-around;
    }
    .bannerhead1{
        display: flex;
     justify-content: center;
        border-bottom: 1px solid rgb(171, 170, 170);
        margin-bottom: 1rem;
        align-items: center;
    gap: 4rem;
    margin-left: -4rem;
    
    }
    .bannerhead{
        display: none;
    }
    .reservationhouse{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 2px;
        width: 90vw;
        margin-top: -2rem;
        padding: 5px;
        border-bottom: 1px solid rgba(197, 195, 195, 0.5);
        box-shadow: 0rem 10px 1px rgba(197, 195, 195, 0.5);
    }
    .guestsSection{
        border: 1px solid black;
        background-color: antiquewhite;
        margin-left: -3rem;
        display: flex;
        flex-direction: column;
        width: 50vw;
        justify-content: space-around;
        align-items: center;
    }
    
    .totalguests{
        margin-left: -4.8rem;
      
    }
    .selecteddate{
        margin-left: -10.8rem;
    }
    .editpage2{
        margin-left: 2rem;
        text-decoration: underline;
    }
    .editpage1,.editpage{
        margin-left: 6.3rem;
    }
    .selectdate{
        margin-left: -10.5rem;
        margin-top: 1rem;
    }

}
@media (min-width: 1024px) {
    .totalguests{
        margin-left: -27.7rem;
        margin-top: 1rem;
    }
    .selectdate{
    display: flex;
    margin-left: -23.5rem;
    }
    .selecteddate{
        display: flex;
    margin-left: -23.7rem;
    }
    .guestsSection{
        border: 1px solid black;
        background-color: antiquewhite;
        margin-left: -22rem;
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 50vh;
        font-size: small;
        object-fit: cover;
        justify-content: space-around;
        align-items: center;
    }
    .editpage2{
        margin-left: -8rem;
        text-decoration: underline;
    }
    .editpage1,.editpage{
        margin-left: -3.5rem;
    }
    .rightpage{
        width: 60vw;
        height: 60vh;
        
    }

}




