.productDetails {
    width: 100vw;
}
.productDetailsWrap {
    width: 90%;
    margin: 0 auto;
}
.container {
    display: flex;
    align-items: center; 
    padding: 20px;
    background-color: #fff;
    border:none;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

.heading {
    flex: 1; 
}

.actions {
    display: flex;
}


button.share, button.save {
    margin-left: 10px; 
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button.share:hover, button.save:hover {
    background-color: #f0f0f0; 
    transform: translateY(-3px); 
}

.buttonHover {
    margin-right: 5px; 
}


.cartText {
    vertical-align: middle; 
}


/* ============== */


.gridContainer {
    height:60%;
}

.leftImage {
    width: 95%;
    height: 90%;
    padding: 0px 0px 10px 50px;
}

.childGrid {
    height: 500px;
    padding: 0px !important;
}
/* Exploring.css */

.exploreContainer {
    display: flex;
    justify-content: space-evenly; /* Items are placed at each end of the container */
    width: 100%; /* Adjust as needed */
    margin: 10px 20px; /* Center the container horizontally */
}

.block1 {
    flex: 1; /* Takes up remaining space */
    padding: 2vw; /* Padding in viewport width */
    border-radius: 2vw;
    width: 70%; /* Border radius in viewport width */
    background-color: #ffffff;
}

.block2 {
    flex: 1; /* Takes up remaining space */
    padding: 2vw; /* Padding in viewport width */
    border-radius: 2vw; /* Border radius in viewport width */
    background-color: #ffffff;
    display: flex;
    width: 50%;
    justify-content: center; /* Center content horizontally */
    align-items: center;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Center content vertically */
}

.requestContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block2Content {
    text-align: center;
    padding: 10px;
    margin: 0px;
    padding: 10px;

}

.requestButton {
    background-color: #d6475a; /* Green background */
    color: white; /* Padding in viewport width */
    font-size: 1vw; /* Font size in viewport width */
    border: none;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    border-radius: 2vw; /* Border radius in viewport width */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.requestButton:hover {
    background-color: #ad4848; /* Darker green on hover */
}
.instruction {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem; /* Adjust as needed for spacing between items */
}

.instructIcons {
    width: 24px; /* Adjust icon size as needed */
    margin-right: 10px; /* Space between icon and text */
    flex-shrink: 0; /* Prevent icons from shrinking */
    align-self: flex-start; /* Align icons to the top of the container */
}

.instruction-text {
    display: flex; /* Use flexbox for inner content */
    flex-direction: column; /* Stack paragraphs vertically */
    align-items: flex-start; /* Align items to the start of the cross axis */
}

.instruction-text p, .instruction-text small {
    margin: 0; /* Remove default margin for paragraphs and small tags */
    margin-left: 10px; /* Space between icon and text */
}
.descriptionContainer {
    width: 52%;
}
.para1 {
    margin: 10px 0;
}
.para2 h5 {
    margin: 0;
}
.para2 p {
    margin-bottom: 10px;
}
.para3 {
    margin: 10px 0;
}
.list ul li{
    margin: 0;
}
.left-block {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 30%;
    border: 1px solid #ccc;
}

.image-column {
    margin-right: 20px;
}

.profile-image {
    width: 30%;
    height: 30%;
    border-radius: 50%;
}

.content-column {
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 24px;
    font-weight: bold;
}

.small-element {
    margin-top: 5px;
    color: #666;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.star-icon {
    color: gold;
    margin-right: 5px;
}

.hosting {
    margin-top: 5px;
    color: #333;
}








