.footerOptions {
    margin: 10px 0;
    padding: 10px 0;
    list-style: none;
    gap: 2rem;
    
}

.hyperlink {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    display: grid;
    font-size: 1.1rem;
}

.hyperlink:hover {
    text-decoration: underline;
}
